@model IEnumerable<Latest_Staff_Portal.ViewModel.LeavePlannerList>
<div class="table-responsive">
    <table id="datatable-buttons" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
        <thead style="background-color:black;color:white">
        <tr>
            <th>
                Action
            </th>
            <th>
                Application Code
            </th>
            <th>
                Leave Calendar
            </th>
        </tr>
        </thead>
        <tbody>
        @if (Model.Any())
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        <input type="button" onclick="ViewDoc('@item.Application_Code');" class="btn btn-info" style=" background: #162f25; color: whitesmoke;" value="Select" />

                    </td>
                    <td>
                        @item.Application_Code
                    </td>
                    <td>
                        @item.Leave_Calendar
                    </td>
                </tr>
            }
        }
        </tbody>
    </table>
</div>
<script>
    $("#datatable-buttons").DataTable({
        lengthChange: true,
        lengthMenu: [5, 10, 25, 50, 100],
        "bDestroy": true
    });
</script>