<div class="row">
    <div class="col-md-12">
        <select class="form-control" id="ddlType" name="ddlType">
            <option value="0">PDF</option>
            <option value="1">Excel</option>
        </select>
    </div>
</div>
<hr />
<div align="center">
    <button class="btn btn-primary" onclick="GenerateReport();">Get Report</button>
</div>
