<div class="bg-soft-dark" style="color:black">
    <div class="row">
        <div class="col-md-6">
            File Upload
            <input type="file" class="form-control" id="TransportfileAttachment"/>
        </div>
        <div class="col-md-6">
            <br/>
            <input type="button" class="btn btn-primary pull-right" value="Save Uploaded File" onclick="SaveAttachmentFile();"/>
        </div>
    </div>
</div>