@{
    Layout = "~/Views/Shared/Sitemaster.cshtml";
}

<style>
    thead {
        background-color: black;
        color: white;
    }

    .selectedTableRow {
        background-color: #74788d;
        color: white;
    }

    .BtnPadding {
        padding: 7px;
        font-size: 12px;
    }
</style>
<div class="page-header">
    <div class="row">
        <div class="col-sm-12">
            <ul class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#" onclick="DashboardLink();">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">Training Requisition List</li>
            </ul>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div style="text-align:right">
            <button class="btn btn-primary action-buttons2" onclick="NewTrainingRequisition();">
                <i class="fa fa-plus-circle" aria-hidden="true"></i> New Training Requisition
            </button>
        </div>
        <hr />
        <div id="divResourceRequirements"></div>
    </div>
</div>

@*//////////////////////Modal////////////////////////////*@
<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content bg-white">
            <div class="modal-header">
                <h4 class="modal-title">New Training Requisition</h4>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalBody">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger waves-effect " data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@*//////////////////////Modal Links////////////////////////////*@
<div class="modal fade" id="myModalLinks" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content bg-white">
            <div class="modal-header">
                <h4 class="modal-title">Actions</h4>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalBodyLinks">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger waves-effect " data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script src="~/assets/js/ShowProgression.js"></script>

<script>$(document).ready(function () {
		$('#myModal').on('shown.bs.modal', function () {
			setTimeout(function () {
				$('.select2').select2({
					dropdownParent: $('#myModal')
				});
			}, 200);
		});
	});</script>
<script type="text/javascript">
    $(document).ready(function () {
        LoadTrainingRequisitionList();
        var Successmsg = '@Request.RequestContext.HttpContext.Session["SuccessMsg"]';
        if (Successmsg != "") {
            Swal.fire('Success', Successmsg, 'success', true);
            $.ajax({
                type: "POST",
                url: "/Common/NullibySessions"
            });
        }
    });
    var LoadTrainingRequisitionList = function () {
        ShowProgress();
        $.ajax({
            async: true,
            type: "GET",
            dataType: 'HTML',
            contentType: false,
            processData: false,
            url: "/Training/TrainingRequisitionListPartialView",
            success: function (data) {
                $("#divResourceRequirements").empty().html(data);
                HideProgress();
            },
            error: function () {
                HideProgress();
                Swal.fire("There is some problem to process your request. Please try after some time");
            }
        });
    }

    var NewTrainingRequisition = function () {
        ShowProgress();
        $.ajax({
            async: true,
            type: "POST",
            datatype: "json",
            contentType: "application/json; charset = utf-8",
            processData: false,
            url: "/Training/NewTrainingRequisition",
            success: function (data) {
                $("#modalBody").html(data);
                HideProgress();
                $("#myModal").modal("show");
            },
            error: function (err) {
                HideProgress();
                Swal.fire('Warning', err, 'warning');
            }
        });
    }


    function SubmitTrainingRequisition() {

        var isValid = true;


        var Training_Plan_No = $("#Training_Plan_No2").val();
        var Employee_Department = $("#Employee_Department2").val();
        var Course_Title = $("#Course_Title_dropdown").val();
        var Description = $("#Description2").val();
        var Start_DateTime = $("#Start_DateTime2").val();
        var Duration = $("#Duration2").val();
        var Training_Region = $("#Training_Region2").val();
        var Training_Venue_Region_Code = $("#Training_Venue_Region_Code2").val();
        var Training_Responsibility_Code = $("#Training_Responsibility_Code2").val();
        var location = $("#Location2").val();
        var Provider = $("#Provider2").val();



        if (!Training_Plan_No) {
            Swal.fire('Warning', 'Training Plan is required.', 'warning');
             isValid = false;
        }
        /*if (!Employee_Department) {
            Swal.fire('Warning', 'Employee Department is required.', 'warning');
             isValid = false;
        }*/

        if (!Course_Title) {
            Swal.fire('Warning', 'Course Title is required.', 'warning');
            isValid = false;
        }
      /*  if (!Description) {
            Swal.fire('Warning', 'Description is required.', 'warning');
            isValid = false;
        }
        if (!Start_DateTime) {
            Swal.fire('Warning', 'Start Date required', 'warning');
            isValid = false;
        }*/
        
       /* if (!Training_Region) {
            Swal.fire('Warning', 'Training Region is required.', 'warning');
            isValid = false;
        }*/
       
       
        if (!Training_Venue_Region_Code) {
            Swal.fire('Warning', 'Training Venue is required', 'warning');
            isValid = false;
        }


         // Exit if validation fails
         if (!isValid) {
             return;
         }

         // Prepare data object
         var data = {
             Training_Plan_No: Training_Plan_No,
             Employee_Department: Employee_Department,
             Course_Title: Course_Title,
             Description: Description,
             Start_DateTime: Start_DateTime,     
             Duration: Duration,
             Training_Region: Training_Region, 
             Training_Venue_Region_Code: Training_Venue_Region_Code, 
             Training_Responsibility_Code: Training_Responsibility_Code, 
             Location: location,
             Provider: Provider, 


         };
         // Show progress indicator
         ShowProgress();

         // Send data via AJAX
         $.ajax({
             type: "POST",
             url: "/Training/SubmitTrainingRequisition",
             data: JSON.stringify(data),
             contentType: "application/json; charset=utf-8",
             dataType: "json",
             success: function (data) {
                 HideProgress();
                 if (data.success) {
                     var form = $('<form>', {
                         action: '/Training/TrainingRequisitionDocumentView',
                         method: 'POST'
                     }).append($('<input>', {
                         type: 'hidden',
                         name: 'DocNo',
                         value: data.message
                     }));
                     form.appendTo('body').submit();
                     Swal.fire('Success', 'Training Requisition successfully created.', 'success');
                 } else {
                     Swal.fire('Warning', data.message, 'warning');
                 }
             },
             error: function (err) {
                 HideProgress();
                 Swal.fire('Error', 'An error occurred while submitting the request.', 'error');
             }
         });
    }


    var ViewDoc = function (DocNo) {
        ShowProgress();
        var form = $('<form>', {
            action: '/Training/TrainingRequisitionDocumentView',
            method: 'POST'
        }).append($('<input>', {
            type: 'hidden',
            name: 'DocNo',
            value: DocNo
        }));
        form.appendTo('body').submit();
    }




</script>