@{
    ViewBag.Title = "ImprestRequisitionList";
    Layout = "~/Views/Shared/Sitemaster.cshtml";
}
<style>
    .selectedTableRow {
        background-color: #74788d;
        color: white;
    }

    .BtnPadding {
        padding: 1px;
        font-size: 12px;
    }
</style>
<div class="card pre-scrollable">
    <div class="card-title">Travel Advance Requisition List</div>
    <hr/>
    <div class="card-body">
        <a href="#" onclick="NewImprestRequisition();" class="btn btn-primary BtnPadding">New Request</a>
        <hr/>
        <div id="divRegList"></div>
    </div>
</div>
@*//////////////////////Modal////////////////////////////*@
<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content bg-white">
            <div class="modal-header">
                <h4 class="modal-title">New Travel Advance Requisition</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalBody">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger waves-effect " data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@*//////////////////////Modal Links////////////////////////////*@
<div class="modal fade" id="myModalLinks" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content bg-white">
            <div class="modal-header">
                <h4 class="modal-title">Actions</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalBodyLinks">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger waves-effect " data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script src="~/assets/js/ShowProgression.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        LoadImprestReqList();
    });
    var LoadImprestReqList = function () {
        ShowProgress();
        $.ajax({
            async: true,
            type: "GET",
            dataType: 'HTML',
            contentType: false,
            processData: false,
            url: "/Imprest/ImprestRequisitionListPartialView",
            success: function (data) {
                $("#divRegList").html(data);
                HideProgress();
            },
            error: function () {
                HideProgress();
                Swal.fire("There is some problem to process your request. Please try after some time");
            }
        });
    }
    var NewImprestRequisition = function () {
        ShowProgress();
        $.ajax({
            async: true,
            type: "POST",
            datatype: "json",
            contentType: "application/json; charset = utf-8",
            processData: false,
            url: "/Imprest/NewImprestRequest",
            success: function (data) {
                $("#modalBody").html(data);
                HideProgress();
                $("#myModal").modal("show");
            },
            error: function (err) {
                HideProgress();
                Swal.fire('Warning', err, 'warning');
            }
        });
    }
    var SubmitImprestRequisition = function () {
        debugger
        var dateNeeded = $("#dtPicker").val();
        var Remarks = $("#txtRemarks").val().replace(/(\r\n|\n|\r)/gm, " ");
        var Dim1 = $("#ddlDim1").children("option:selected").val();
        var Dim2 = $("#ddlDim2").children("option:selected").val();
        var Dim3 = $("#ddlDim3").children("option:selected").val();
        var Dim4 = $("#ddlDim4").children("option:selected").val();
        var Dim5 = $("#ddlDim5").children("option:selected").val();
        var Dim6 = $("#ddlDim6").children("option:selected").val();
        var Dim7 = $("#ddlDim7").children("option:selected").val();
        var RespC = $("#ddlRespC").children("option:selected").val();
        var ImpDuet = $("#PRVType").children("option:selected").val();
        var dateofTravel = $("#TxtTravelDate").val();
        var dateofReturn = $("#TxtReturnDate").val();
        if (dateNeeded == "") {
            Swal.fire('Warning', "Select Date needed", 'warning');
            return;
        }
        if (dateofTravel == "") {
            Swal.fire('Warning', "Select Date of Travel", 'warning');
            return;
        }
        if (dateofReturn == "") {
            Swal.fire('Warning', "Select expected Return Date ", 'warning');
            return;
        }
        if (Remarks == "") {
            Swal.fire('Warning', "Enter Reason for the purchase", 'warning');
            return;
        }
        if (Remarks.length > 150) {
            Swal.fire('Warning', "Reason for purchase cannot exceed 150 characters", 'warning');
            return;
        }
        else if (Dim1 == "") {
            Swal.fire('Warning', "Select Donor", 'warning');
            return;
        }
        else if (Dim2 == "") {
            Swal.fire('Warning', "Select Project", 'warning');
            return;
        }
        else if (Dim3 == "") {
            Swal.fire('Warning', "Select Program", 'warning');
            return;
        }
        else if (Dim4 == "") {
            Swal.fire('Warning', "Select Activity", 'warning');
            return;
        }
        else if (Dim5 == "") {
            Swal.fire('Warning', "Select County", 'warning');
            return;
        }
        else if ((Dim6 == "") && (Dim1 == "CDC")) {
            Swal.fire('Warning', "Select Major Cost Category", 'warning');
            return;
        }
        else if (RespC == "") {
            Swal.fire('Warning', "Select Responsibility Centre", 'warning');
            return;
        }
        else if (ImpDuet == "") {
            Swal.fire('Warning', "Select Travel Type", 'warning');
            return;
        }
        else {
            var ImprestHeader = {};
            var DocD = {};
            ImprestHeader.DateNeeded = dateNeeded;
            ImprestHeader.Remarks = Remarks;
            ImprestHeader.Dim1 = Dim1;
            ImprestHeader.Dim2 = Dim2;
            ImprestHeader.Dim3 = Dim3;
            ImprestHeader.Dim4 = Dim4;
            ImprestHeader.Dim5 = Dim5;
            ImprestHeader.Dim6 = Dim6;
            ImprestHeader.Dim7 = Dim7;
            ImprestHeader.RespC = RespC;
            ImprestHeader.DocD = DocD;
            ImprestHeader.ImprestDueType = ImpDuet;
            ImprestHeader.DateofTravel = dateofTravel;
            ImprestHeader.DateofReturn = dateofReturn;
            ShowProgress();
            //Send the JSON array to Controller using AJAX.
            $.ajax({
                type: "POST",
                url: "/Imprest/SubmitImprestRequisition",
                data: JSON.stringify({ imprestHeader: ImprestHeader }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    if (data.success) {
                        window.location = data.message;
                    }
                    else {
                        Swal.fire('Warning', data.message, 'warning');
                        HideProgress();
                    }
                },
                error: function (err) {
                    HideProgress();
                    Swal.fire('Warning', err, 'warning');
                }
            });
        }
    };
    var SelectedRow = function (DocNo, Status) {
        ShowProgress();
        $.ajax({
            async: true,
            type: "POST",
            datatype: "json",
            data: JSON.stringify({ DocNo: DocNo, Status: Status, DocType: 'IMP' }),
            contentType: "application/json; charset = utf-8",
            processData: false,
            url: '/Common/CommonActions',
            success: function (data) {
                $("#modalBodyLinks").html(data);
                HideProgress();
                $("#myModalLinks").modal("show");
            },
            error: function (err) {
                HideProgress();
                Swal.fire('Warning', err, 'warning');
            }
        });
    }
    var ViewDoc = function (DocNo) {
        ShowProgress();
        window.location = "/Imprest/ImprestDocumentView?DocNo=" + DocNo;
    }
    var SendDocForApproval = function (DocNo) {
        ShowProgress();
        $.ajax({
            async: true,
            type: "POST",
            datatype: "json",
            data: JSON.stringify({ DocNo: DocNo }),
            contentType: "application/json; charset = utf-8",
            processData: false,
            url: '/Imprest/SendImprestAppForApproval',
            success: function (data) {
                if (data.LogOut == true) {
                    window.location = data.message;
                }
                else {
                    if (data.success == true) {
                        HideProgress();
                        LoadImprestReqList();
                        $("#myModalLinks").modal("hide");
                        Swal.fire('Success', data.message, 'success');
                    }
                    else {
                        HideProgress();
                        Swal.fire('Error', data.message, 'error');
                    }
                }
            },
            error: function (err) {
                HideProgress();
                Swal.fire('Warning', err, 'warning');
            }
        });
    }
    var DelegateDocForApproval = function (DocNo) {
        ShowProgress();
        $.ajax({
            async: true,
            type: "POST",
            datatype: "json",
            data: JSON.stringify({ DocNo: DocNo }),
            contentType: "application/json; charset = utf-8",
            processData: false,
            url: '/Common/DelegateApproval',
            success: function (data) {
                if (data.LogOut == true) {
                    window.location = data.message;
                }
                else {
                    if (data.success == true) {
                        HideProgress();
                        LoadImprestReqList();
                        $("#myModalLinks").modal("hide");
                        Swal.fire('Success', data.message, 'success');
                    }
                    else {
                        HideProgress();
                        Swal.fire('Error', data.message, 'error');
                    }
                }
            },
            error: function (err) {
                HideProgress();
                Swal.fire('Warning', err, 'warning');
            }
        });
    }

    var CancelDocForApproval = function (DocNo) {
        ShowProgress();
        $.ajax({
            async: true,
            type: "POST",
            datatype: "json",
            data: JSON.stringify({ DocNo: DocNo }),
            contentType: "application/json; charset = utf-8",
            processData: false,
            url: '/Imprest/CancelImprestAppForApproval',
            success: function (data) {
                if (data.LogOut == false) {
                    window.location = data.message;
                }
                else {
                    if (data.success == true) {
                        HideProgress();
                        LoadImprestReqList();
                        $("#myModalLinks").modal("hide");
                        Swal.fire('Success', data.message, 'success');
                    }
                    else {
                        HideProgress();
                        Swal.fire('Error', data.message, 'error');
                    }
                }
            },
            error: function (err) {
                HideProgress();
                Swal.fire('Warning', err, 'warning');
            }
        });
    };
    var ViewApprovalTrail = function (DocNo) {
        $("#labelF").text("Document Approval Trail");
        ShowProgress();
        $.ajax({
            async: true,
            type: "POST",
            datatype: "json",
            data: JSON.stringify({ DocNo: DocNo, RecID: "Imprest Header: " + DocNo }),
            contentType: "application/json; charset = utf-8",
            processData: false,
            url: '/Common/DocumentApprovalTrail',
            success: function (data) {
                $("#modalBody").html(data);
                HideProgress();
                $("#myModalLinks").modal("hide");
                $("#myModal").modal("show");
            },
            error: function (err) {
                HideProgress();
                Swal.fire('Warning', err, 'warning');
            }
        });
    }
    var ViewDocComments = function (documentNumber) {
        $("#labelF").text("Document Comments");
        ShowProgress();
        var RecordID = "Imprest Header: " + DocNo;
        $.ajax({
            async: true,
            type: "POST",
            datatype: "json",
            data: JSON.stringify({ docNo: documentNumber }),
            contentType: "application/json; charset = utf-8",
            processData: false,
            url: '/Common/DocumentApprovalComments',
            success: function (data) {
                $("#modalBody").html(data);
                HideProgress();
                $("#myModalLinks").modal("hide");
                $("#myModal").modal("show");
            },
            error: function (err) {
                HideProgress();
                Swal.fire('Warning', err, 'warning');
            }
        });
    }
</script>