@using Latest_Staff_Portal.Models
@{
    ViewBag.Title = "ImprestList";
    Layout = "~/Views/Shared/Sitemaster.cshtml";
}


<style>
    thead {
        background-color: black;
        color: white;
    }

    .selectedTableRow {
        background-color: #74788d;
        color: white;
    }

    .BtnPadding {
        padding: 1px;
        font-size: 12px;
    }
</style>

<div class="page-header">
    <div class="row">
        <div class="col-sm-12">
            <ul class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/Dashboard/Dashboard">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">Imprest List</li>
            </ul>
        </div>
    </div>
</div>
<hr /> <br />
<div class="card">
    <div class="card-header">
        <div style="text-align:right">
            <button class="btn btn-primary action-buttons" onclick="NewImprest();">
                <i class="fa fa-plus-circle" aria-hidden="true"></i> New Imprest
            </button>
        </div>
    </div>
    <div class="card-body">
      
        <div id="divImprestList"></div>
    </div>
</div>
@*//////////////////////Modal////////////////////////////*@
<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content bg-white">
            <div class="modal-header">
                <h4 class="modal-title">New Imprest</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalBody">
            </div>
            <div class="modal-footer">
                <div class="text-center">
                    <input type="button" class="btn btn-primary action-buttons" value="Submit" onclick="SubmitImprest();" />
                </div>
                <button type="button" class="btn btn-danger waves-effect " data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@*//////////////////////Modal Links////////////////////////////*@
<div class="modal fade" id="myModalLinks" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content bg-white">
            <div class="modal-header">
                <h4 class="modal-title">Actions</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalBodyLinks">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger waves-effect " data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script src="~/assets/js/ShowProgression.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        LoadImprestList();
        var Successmsg = '@Request.RequestContext.HttpContext.Session["SuccessMsg"]';
        if (Successmsg != "") {
            Swal.fire('Success', Successmsg, 'success', true);
            $.ajax({
                type: "POST",
                url: "/Common/NullibySessions"
            });
        }
    });

    var LoadImprestList = function () {
        ShowProgress();
        $.ajax({
            async: true,
            type: "GET",
            dataType: 'HTML',
            contentType: false,
            processData: false,
            url: "/Imprest/ImprestListPartialView",
            success: function (data) {
                $("#divImprestList").empty().html(data);
                HideProgress();
            },
            error: function () {
                HideProgress();
                Swal.fire("There is some problem to process your request. Please try after some time");
            }
        });
    }


    var ViewDoc = function (No) {
        ShowProgress();
        var form = $('<form>', {
            action: '/Imprest/ImprestDocumentView',
            method: 'POST'
        }).append($('<input>', {
            type: 'hidden',
            name: 'No',
            value: No
        }));
        form.appendTo('body').submit();
    };


    var ViewDoc2 = function (No) {
        ShowProgress();
        window.location = "/Imprest/ImprestDocumentView?No=" + No;
    }

    var NewImprest = function () {
        ShowProgress();
        $.ajax({
            async: true,
            type: "GET", 
            url: "/Imprest/NewImprest", 
            dataType: "html", 
            success: function (data) {
                $("#modalBody").html(data); 
                HideProgress();
                $("#myModal").modal("show"); 
            },
            error: function (err) {
                HideProgress();
                Swal.fire('Warning', 'An error occurred while loading the form. Please try again.', 'warning');
            }
        });
    };

    function SubmitImprest() {
        var isValid = true;

        //get form details
        var RequestDate = $("#RequestDate").val();
      
        var CustomerAC = $("#CustomerAC").val();
        var TripStartDate = $("#TripStartDate").val();
        var TripExpectedEndDate = $("#TripExpectedEndDate").val();
        var PurposeofImprest = $("#PurposeofImprest").val();
        var DeadlineforImprestReturn = $("#DeadlineforImprestReturn").val();
        var TransactionType = $("#TransactionType").val();
        var TotalAmountRequested = $("#TotalAmountRequested").val();
        var ImprestAmount = $("#ImprestAmount").val();
        var ActivityDate = $("#ActivityDate").val();
        var PayMode = $("#PayMode").val();
        var BankAccount = $("#BankAccount").val();
        var ChequeNo = $("#ChequeNo").val();
        var ImprestType = $("#ImprestType").val();
      

       /* if (!RequestDate) { Swal.fire('Warning', 'Please select Request Date.', 'warning'); isValid = false; }*/
      
        /*if (!CustomerAC) { Swal.fire('Warning', 'Please select  Customer A/C.', 'warning'); isValid = false; }*/
        if (!TripStartDate) { Swal.fire('Warning', 'Please select Trip Start Date.', 'warning'); isValid = false; }
        if (!TripExpectedEndDate) { Swal.fire('Warning', 'Please select Trip Expected End Date.', 'warning'); isValid = false; }
        if (!PurposeofImprest) { Swal.fire('Warning', 'Input Purpose of Imprest.', 'warning'); isValid = false; }
        if (!DeadlineforImprestReturn) { Swal.fire('Warning', 'Input Deadline for Imprest Return.', 'warning'); isValid = false; }
       /* if (!TransactionType) { Swal.fire('Warning', 'Please select Transaction Type.', 'warning'); isValid = false; }
        if (!TotalAmountRequested) { Swal.fire('Warning', 'Input Total Amount Requested', 'warning'); isValid = false; }
        if (!ImprestAmount) { Swal.fire('Warning', 'Input Imprest Amount.', 'warning'); isValid = false; }*/
        if (!ActivityDate) { Swal.fire('Warning', 'Please select Activity Date.', 'warning'); isValid = false; }
       /* if (!PayMode) { Swal.fire('Warning', 'Please select Pay Mode.', 'warning'); isValid = false; }
        if (!BankAccount) { Swal.fire('Warning', 'Select Bank Account.', 'warning'); isValid = false; }
        if (!ChequeNo) { Swal.fire('Warning', 'Input Cheque No.', 'warning'); isValid = false; }*/
        if (!ImprestType) { Swal.fire('Warning', 'Please select Imprest Type.', 'warning'); isValid = false; }
         
        if (!isValid) {
            return;
        }

        var Imprest = {
            RequestDate: RequestDate,
            RequestDate: RequestDate,
            CustomerAC: CustomerAC,
            TripStartDate: TripStartDate,
            TripExpectedEndDate: TripExpectedEndDate,
            PurposeofImprest: PurposeofImprest,
            DeadlineforImprestReturn: DeadlineforImprestReturn,
            TransactionType: TransactionType,
            TotalAmountRequested: TotalAmountRequested,
            ImprestAmount: ImprestAmount,
            ActivityDate: ActivityDate,
            PayMode: PayMode,
            BankAccount: BankAccount,
            ChequeNo: ChequeNo,
            ImprestType: ImprestType,      
        };

        ShowProgress();

        $.ajax({
            type: "POST",
            url: "/Imprest/SubmitImprest",
            data: JSON.stringify(Imprest),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                HideProgress();
                if (data.success) {
                    Swal.fire('Success', 'Imprest created', 'success');
                    ViewDoc(data.message);
                } else {
                    Swal.fire('Warning', data.message, 'warning');
                }
            },
            error: function (err) {
                HideProgress();
                Swal.fire('Warning', err.responseText, 'warning');
            }
        });
    }
  

</script>