<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from dreamguys.co.in/demo/doccure/admin/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 30 Nov 2019 04:12:46 GMT -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>ESS - ForgotPassword</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/img/logo.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/assets/css/custom.css">

    <!--[if lt IE 9]>
        <script src="assets/js/html5shiv.min.js"></script>
        <script src="assets/js/respond.min.js"></script>
    <![endif]-->
</head>
<body id="body">
<link href="~/assets/css/Loader.css" rel="stylesheet"/>

<link href="~/assets/css/Loader.css" rel="stylesheet"/>
<div class="loading" align="center" id="divLoader">
    <div class="loader-container">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>

<script src="~/assets/js/ObfuscateSite.js"></script>

<!-- Main Wrapper -->
<div class="main-wrapper login-body">
    <div class="login-wrapper">
        <div class="container">
            <div class="loginbox">

                <div class="login-left">
                    <img src="/assets/img/lg1.png" alt="Logo" height="80"/>
                    <h5 id="logintitle">NUPEA Employees Portal</h5><br/>
                    <span id="login">
                        <span id="loginbody">For assistance, Contact support:</span><br/><br/>
                        <span id="loginpagelabel">Email: </span><br/>
                        <span>
                            <a href="mailto:ictsupport@court.go.ke" id="loginpageurl">ictsupport@court.go.ke</a>
                        </span><br/><br/>
                        <span id="loginpagelabel">Phone:</span><br/>
                        <span>
                            <a href="callto:2540730181581" id="loginpageurl">+2540730181581</a>
                        </span><br/>
                        <span>
                            <a href="callto:+2540730181040" id="loginpageurl">+2540730181581</a>
                        </span>
                    </span>
                </div>

                <div class="login-right">
                    <div class="login-right-wrap">

                        <h1 class="mb-4" style="font-size: 24px;">The Judiciary</h1>
                        <center>
                            <img class="img-fluid" src="/assets/img/lg3.png" alt="Logo" style="height: 60px;">
                        </center>
                        <h1 style="font-size: 15px;" class="mt-4 mb-4">Password Reset</h1>

                        <!-- Form -->
                        <div class="form-group">
                            <label for="username" class="lblClass">PJ No</label>
                            <input type="text" class="form-control" id="username" placeholder="Enter PJ No" required>
                        </div>

                        <div class="mt-3">
                            <button class="btn btn-info btn-block" id="btnReset" type="submit">Reset Password</button>
                        </div>

                        <!-- /Form -->

                        <div class="text-center forgotpass mt-4">
                            <a href="Login/Login">Login</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Main Wrapper -->
<!-- jQuery -->
<script src="/assets/js/jquery-3.2.1.min.js"></script>

<!-- Bootstrap Core JS -->
<script src="/assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>

<!-- Custom JS -->
<script src="/assets/js/script.js"></script>

<script src="~/assets/js/ShowProgression.js"></script>
@*<script src="~/SiteJS/LoginJS.js"></script>*@
<script src="~/SiteJS/ForgetPasswordJS.js"></script>

</body>

<!-- Mirrored from dreamguys.co.in/demo/doccure/admin/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 30 Nov 2019 04:12:46 GMT -->
</html>