@{
    ViewBag.Title = "VehicleIncidentView";
    Layout = "~/Views/Shared/Sitemaster.cshtml";
}

<h2>Vehicle Incident</h2>


<style>
    thead {
        background-color: black;
        color: white;
    }

    .selectedTableRow {
        background-color: #74788d;
        color: white;
    }

    .BtnPadding {
        padding: 1px;
        font-size: 12px;
    }
</style>
<!--
<link href="~/assets/css/Loader.css" rel="stylesheet" />
<div class="loading" align="center" id="divLoader">
    <br />
    <img src="~/assets/images/ajax-loader.gif" alt="" />
</div>
-->
<div class="page-header">
    <div class="row">
        <div class="col-sm-12">
            <ul class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#" onclick="TransportRequisitionLink();">Transport</a>
                </li>
                <li class="breadcrumb-item active">Transport Document Details</li>
            </ul>
        </div>
    </div>
</div>

<div class="card pre-scrollable">
    <hr/>
    <div class="card-body">

        <a href="#" onclick="NewVehicleIncidence();" class="btn btn-primary BtnPadding">New Vehicle Incidence</a>
        <hr/>
        <div id="divRegList"></div>
    </div>
</div>
@*//////////////////////Modal////////////////////////////*@
<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content bg-white">
            <div class="modal-header">
                <h4 class="modal-title">New Vehicle Incidence</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalBody">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger waves-effect " data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@*//////////////////////Modal Links////////////////////////////*@
<div class="modal fade" id="myModalLinks" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content bg-white">
            <div class="modal-header">
                <h4 class="modal-title">Actions</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalBodyLinks">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger waves-effect " data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script src="~/assets/js/ShowProgression.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        LoadVehicleIncidenceList();
        var Successmsg = '@Request.RequestContext.HttpContext.Session["SuccessMsg"]';
        if (Successmsg != "") {
            Swal.fire('Success', Successmsg, 'success', true);
            $.ajax({
                type: "POST",
                url: "/Common/NullibySessions"
            });
        }
    });
    var LoadVehicleIncidenceList = function () {
        ShowProgress();
        $.ajax({
            async: true,
            type: "GET",
            dataType: 'HTML',
            contentType: false,
            processData: false,
            url: "/Transport/VehicleIncidenceListPartialView",
            success: function (data) {
                $("#divRegList").html(data);
                HideProgress();
            },
            error: function () {
                HideProgress();
                Swal.fire("There is some problem to process your request. Please try after some time");
            }
        });
    }
    var NewVehicleIncidence = function () {
        ShowProgress();
        $.ajax({
            async: true,
            type: "POST",
            datatype: "json",
            contentType: "application/json; charset = utf-8",
            processData: false,
            url: "/Transport/NewVehicleIncidence",
            success: function (data) {
                $("#modalBody").html(data);
                HideProgress();
                $("#myModal").modal("show");
            },
            error: function (err) {
                HideProgress();
                Swal.fire('Warning', err, 'warning');
            }
        });
    }
    var SubmitTransportRequisition = function () {
        var incidentDate = $('#dtPicker').val();
        var vehicleId = $('#ddlVehicleId').val();
        var driverId = $('#ddlDriverId').val();
        var incidentTime = $('#txtTime').val();
        var personCulpable = $('#txtPersonCulpable').val();
        var responsibleEmployee = $('#ddlRespEmployee').val();
        var workTicketNo = $('#ddlWorkTicket').val();
        var dutyStation = $('#ddlDutyStation').val();
        var incidentDescription = $('#txtDescription').val();

        if (!incidentDate) {
            Swal.fire('Warning', 'Please select the incident date.', 'warning');
            return;
        }
        if (!vehicleId) {
            Swal.fire('Warning', 'Please select the vehicle ID.', 'warning');
            return;
        }
        if (!driverId) {
            Swal.fire('Warning', 'Please select the driver ID.', 'warning');
            return;
        }
        if (!incidentTime) {
            Swal.fire('Warning', 'Please enter the incident time.', 'warning');
            return;
        }
        if (!personCulpable) {
            Swal.fire('Warning', 'Please enter the person culpable.', 'warning');
            return;
        }
        if (!responsibleEmployee) {
            Swal.fire('Warning', 'Please select the responsible employee.', 'warning');
            return;
        }
        if (!workTicketNo) {
            Swal.fire('Warning', 'Please select the work ticket number.', 'warning');
            return;
        }
        if (!dutyStation) {
            Swal.fire('Warning', 'Please select the duty station.', 'warning');
            return;
        }
        if (!incidentDescription) {
            Swal.fire('Warning', 'Please enter the incident description.', 'warning');
            return;
        }

        var incidentData = {
            IncidentDate: incidentDate,
            VehicleID: vehicleId,
            DriverID: driverId,
            IncidentTime: incidentTime,
            PersonCulpable: personCulpable,
            ResponsibleEmployee: responsibleEmployee,
            WorkTicketNo: workTicketNo,
            DutyStation: dutyStation,
            IncidentDescription: incidentDescription
        };

        ShowProgress();

        $.ajax({
            type: "POST",
            url: "/Transport/SubmitVehicleIncident",
            data: JSON.stringify({ vehicleIncident: incidentData }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                if (data.success) {
                    window.location = data.message;
                } else {
                    Swal.fire('Warning', data.message, 'warning');
                    HideProgress();
                }
            },
            error: function (err) {
                HideProgress();
                Swal.fire('Warning', err, 'warning');
            }
        });
    };
    var SelectedRow = function (DocNo, Status) {
        ShowProgress();
        $.ajax({
            async: true,
            type: "POST",
            datatype: "json",
            data: JSON.stringify({ DocNo: DocNo, Status: Status, DocType: 'FuelReq' }),
            contentType: "application/json; charset = utf-8",
            processData: false,
            url: '/Common/CommonActions',
            success: function (data) {
                $("#modalBodyLinks").html(data);
                HideProgress();
                $("#myModalLinks").modal("show");
            },
            error: function (err) {
                HideProgress();
                Swal.fire('Warning', err, 'warning');
            }
        });
    }
    var ViewDoc = function (DocNo) {
        ShowProgress();
        window.location = "/Transport/VehicleIncidenceDocument?DocNo=" + DocNo;
    }
    var SendDocForApproval = function (DocNo) {
        var rowCount1 = $('#DocumentAttachmnts').length;
        if (rowCount1 == 0) {
            Swal.fire('Warning', 'Document should have an attachment before sending for approval', 'warning');
            return;
        }
        ShowProgress();
        $.ajax({
            async: true,
            type: "POST",
            datatype: "json",
            data: JSON.stringify({ DocNo: DocNo, Redirect: "N" }),
            contentType: "application/json; charset = utf-8",
            processData: false,
            url: '/Fuel/SendFuelAppForApproval',
            success: function (data) {
                if (data.LogOut == true) {
                    window.location = data.message;
                }
                else {
                    if (data.success == true) {
                        HideProgress();
                        LoadFuelCardRechargeReqList();
                        $("#myModalLinks").modal("hide");
                        Swal.fire('Success', data.message, 'success');
                    }
                    else {
                        HideProgress();
                        Swal.fire('Error', data.message, 'error');
                    }
                }
            },
            error: function (err) {
                HideProgress();
                Swal.fire('Warning', err, 'warning');
            }
        });
    }
    var CancelDocForApproval = function (DocNo) {
        ShowProgress();
        $.ajax({
            async: true,
            type: "POST",
            datatype: "json",
            data: JSON.stringify({ DocNo: DocNo }),
            contentType: "application/json; charset = utf-8",
            processData: false,
            url: '/Fuel/CancelFuelAppForApproval',
            success: function (data) {
                if (data.LogOut == false) {
                    window.location = data.message;
                }
                else {
                    if (data.success == true) {
                        HideProgress();
                        LoadFuelCardRechargeReqList();
                        $("#myModalLinks").modal("hide");
                        Swal.fire('Success', data.message, 'success');
                    }
                    else {
                        HideProgress();
                        Swal.fire('Error', data.message, 'error');
                    }
                }
            },
            error: function (err) {
                HideProgress();
                Swal.fire('Warning', err, 'warning');
            }
        });
    };
    var ViewApprovalTrail = function (DocNo) {
        $("#labelF").text("Document Approval Trail");
        ShowProgress();
        $.ajax({
            async: true,
            type: "POST",
            datatype: "json",
            data: JSON.stringify({ DocNo: DocNo, RecID: "FLT-Fuel & Maintenance Req.: " + DocNo }),
            contentType: "application/json; charset = utf-8",
            processData: false,
            url: '/Common/DocumentApprovalTrail',
            success: function (data) {
                $("#modalBody").html(data);
                HideProgress();
                $("#myModalLinks").modal("hide");
                $("#myModal").modal("show");
            },
            error: function (err) {
                HideProgress();
                Swal.fire('Warning', err, 'warning');
            }
        });
    }
    var DelegateDocForApproval = function (DocNo) {
        ShowProgress();
        $.ajax({
            async: true,
            type: "POST",
            datatype: "json",
            data: JSON.stringify({ DocNo: DocNo, Redirect: "N" }),
            contentType: "application/json; charset = utf-8",
            processData: false,
            url: '/Common/DelegateApproval',
            success: function (data) {
                if (data.LogOut == true) {
                    window.location = data.message;
                }
                else {
                    if (data.success == true) {
                        HideProgress();
                        LoadFuelCardRechargeReqList();
                        $("#myModalLinks").modal("hide");
                        Swal.fire('Success', data.message, 'success');
                    }
                    else {
                        HideProgress();
                        Swal.fire('Error', data.message, 'error');
                    }
                }
            },
            error: function (err) {
                HideProgress();
                Swal.fire('Warning', err, 'warning');
            }
        });
    }
    var ViewDocComments = function (documentNumber) {
        $("#labelF").text("Document Comments");
        ShowProgress();
        var RecordID = "Fuel Header: " + DocNo;
        $.ajax({
            async: true,
            type: "POST",
            datatype: "json",
            data: JSON.stringify({ docNo: documentNumber }),
            contentType: "application/json; charset = utf-8",
            processData: false,
            url: '/Common/DocumentApprovalComments',
            success: function (data) {
                $("#modalBody").html(data);
                HideProgress();
                $("#myModalLinks").modal("hide");
                $("#myModal").modal("show");
            },
            error: function (err) {
                HideProgress();
                Swal.fire('Warning', err, 'warning');
            }
        });
    }
</script>