@model IEnumerable<Latest_Staff_Portal.ViewModel.DocumentsForApproval>
<div class="pre-scrollable">
    <table id="datatable-buttons" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
        <thead style="background-color:black;color:white">
        <tr>
            <th>Sequence</th>
            <th>Actioned By</th>
            <th>Status</th>

        </tr>
        </thead>
        <tbody>
        @{
            if (Model != null && Model.Count() > 0)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Sequence)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Approver)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="2" style="color:red">
                        Document not approved by any yet!
                    </td>
                </tr>
            }
        }
        </tbody>
    </table>
</div>