.modalLoader {
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    z-index: 1000 !important;
    opacity: 0.8;
    filter: alpha(opacity=80);
    -moz-opacity: 1.5;
    min-height: 100%;
    width: 100%;
}

.loading {
    font-family: Arial;
    font-size: 10pt;
    border: 5px solid #67CFF5;
    width: 190px;
    height: 197px;
    display: none;
    position: fixed;
    background-color: White;
    z-index: 2000 !important;
}
