@model Latest_Staff_Portal.ViewModel.PayChangeAdvice


<input type="file" class="form-control" required id="PCAfileAttachment" multiple="multiple"/>
<span class="text-danger">*</span>


<div align="center">
    <input type="button" class="btn btn-primary waves-effect waves-light" value="Submit" onclick="SaveAttachmentFile();"/>
</div>