@model Latest_Staff_Portal.ViewModel.ANUPEAisalCardList
@{
    ViewBag.Title = "EndYearSupEvaluationCard";
    Layout = "~/Views/Shared/Sitemaster.cshtml";
}
<style>
    thead {
        background-color: black;
        color: white;
    }

    .BtnPadding {
        padding: 1px;
        font-size: 12px;
    }
</style>
<!--<link href="~/assets/css/Loader.css" rel="stylesheet" />
<div class="loading" align="center" id="divLoader">
    <br />
    <img src="~/assets/images/ajax-loader.gif" alt="" />
</div>
-->
<div style="background-color: black;">
    <a href="#" onclick="AppRequisitionLink();" style="color:yellow"><<< Back To ANUPEAisal Review List</a>
</div>
<div class="card">
    <div class="card-title">ANUPEAisal Document(Document No : @Request.QueryString["AppDoc"])</div>
    <div class="card-body">
        <div id="accordion" role="tablist" aria-multiselectable="true">
            <div class="card mb-1 shadow-none">
                <div class="card-header" id="headingThree1" aria-expanded="false" aria-controls="collapseThree1" data-toggle="collapse" href="#collapseThree1">
                    <h6 class="m-0">
                        <span class="fa fa-arrow-down"></span> Section 3 : QUANTITATIVE PERFORMANCE EVALUATION
                    </h6>
                </div>
                <div id="collapseThree1" class="collapse"
                     aria-labelledby="headingThree1" data-parent="#accordion">
                    <div class="card-body">
                        <div id="divPerfTargetReview"></div>
                    </div>
                </div>
            </div>
            <div class="card mb-1 shadow-none">
                <div class="card-header" id="headingFive" aria-expanded="false" aria-controls="collapseFive" data-toggle="collapse" href="#collapseFive">
                    <h6 class="m-0">
                        <span class="fa fa-arrow-down"></span> Section 4a : QUALITATIVE ASSESSMENT(Staff Values)
                    </h6>
                </div>
                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                    <div class="card-body">
                        <div id="divStaffValues"></div>
                    </div>
                </div>
            </div>
            <div class="card mb-1 shadow-none">
                <div class="card-header" id="headingFive1" aria-expanded="false" aria-controls="collapseFive1" data-toggle="collapse" href="#collapseFive1">
                    <h6 class="m-0">
                        <span class="fa fa-arrow-down"></span> Section 4b : QUALITATIVE ASSESSMENT(Core Competence)
                    </h6>
                </div>
                <div id="collapseFive1" class="collapse" aria-labelledby="headingFive1" data-parent="#accordion">
                    <div class="card-body">
                        <div id="divValuesCompe"></div>
                    </div>
                </div>
            </div>
            <div class="card mb-1 shadow-none">
                <div class="card-header" id="headingSix" aria-expanded="false" aria-controls="collapseSix" data-toggle="collapse" href="#collapseSix">
                    <h6 class="m-0">
                        <span class="fa fa-arrow-down"></span> Section 4c : SUPERVISOR'S CORE COMPETENCE
                    </h6>
                </div>
                <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                    <div class="card-body">
                        <div id="divMgrCoreCompVal"></div>
                    </div>
                </div>
            </div>
            <div class="card mb-1 shadow-none">
                <div class="card-header" id="headingFour" aria-expanded="false" aria-controls="collapseFour" data-toggle="collapse" href="#collapseFour">
                    <h6 class="m-0">
                        <span class="fa fa-arrow-down"></span> Section 5a : PROFESSIONAL/TECHNICAL TRAINING DEVELOPMENT OBJECTIVE(S)
                    </h6>
                </div>
                <div id="collapseFour" class="collapse"
                     aria-labelledby="headingFour" data-parent="#accordion">
                    <div class="card-body">
                        <div id="divTrainDevmpt"></div>
                    </div>
                </div>
            </div>
            <div class="card mb-1 shadow-none">
                <div class="card-header" id="headingEight" aria-expanded="false" aria-controls="collapseEight" data-toggle="collapse" href="#collapseEight">
                    <h6 class="m-0">
                        <span class="fa fa-arrow-down"></span> Section 5b : TRAINING/CONFERENCE/SEMINARS UPDATES
                    </h6>
                </div>
                <div id="collapseEight" class="collapse"
                     aria-labelledby="headingEight" data-parent="#accordion">
                    <div class="card-body">
                        <div id="divProfTechTrainDevmpt"></div>
                    </div>
                </div>
            </div>
            <div class="card mb-1 shadow-none">
                <div class="card-header" id="headingNine" aria-expanded="false" aria-controls="collapseNine" data-toggle="collapse" href="#collapseNine">
                    <h6 class="m-0">
                        <span class="fa fa-arrow-down"></span> Section 5c : INVOLVEMENT IN SPECIAL PROJECT/EVENTS/ASSIGNMENTS
                    </h6>
                </div>
                <div id="collapseNine" class="collapse"
                     aria-labelledby="headingNine" data-parent="#accordion">
                    <div class="card-body">
                        <div id="divProfTechTrainDevmpt"></div>
                    </div>
                </div>
            </div>
            <hr/>
            <div>
                <div class="row">
                    <div class="col-md-4">
                        <input type="button" value="<<< Send Back to ANUPEAisee" class="btn btn-danger BtnPadding" onclick="SendDocTo('0');" id="btnANUPEAisee"/>
                    </div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4" style="text-align:right">
                        <input type="button" value="Send To HR >>>" class="btn btn-danger BtnPadding" onclick="SendDocTo('2');" id="btnHR"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*//////////////////////Modal////////////////////////////*@
<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content bg-white">
            <div class="modal-header">
                <h4 class="modal-title">
                    <label id="labelF"></label>
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalBody">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger waves-effect " data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@*//////////////////////Modal////////////////////////////*@
<div class="modal fade" id="myModalRev" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content bg-white">
            <div class="modal-header">
                <h4 class="modal-title">
                    <label id="labelEva"></label>
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalBodyRev">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger waves-effect " data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script src="~/assets/js/ShowProgression.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.shadow-none').on('shown.bs.collapse', function () {
            $(this).find('.fa-arrow-down').removeClass('fa-arrow-down').addClass('fa-arrow-up');
        }).on('hidden.bs.collapse', function () {
            $(this).find('.fa-arrow-up').removeClass('fa-arrow-up').addClass('fa-arrow-down');
        });
        $("#ddlPeer").select2({
            width: '100%'
        });
        LoadSectionData();
    });
    var LoadSectionData = function () {
        ShowProgress();
        var DocNo = `@Model.ApprisalCode`;
        LoadPerformanceIndicatorReview(DocNo);
        LoadTrainingDevelopment(DocNo);
        LoadStaffValues(DocNo);
        LoadCompetenceValues(DocNo);
        LoadMGRValuesCompe(DocNo);
        LoadTrainingConferenceSeminars(DocNo);
        LoadTrainingProjectEventsAssignment(DocNo);
        HideProgress();
    };
    ///////////////Load Data////////////////   
    var LoadPerformanceIndicatorReview = function (DocNo) {
        $.ajax({
            async: true,
            type: "post",
            contentType: "application/json; charset = utf-8",
            data: JSON.stringify({ AppDoc: DocNo, Type: "E", Level: "S", EvalT: "ENDY" }),
            url: "/ANUPEAisal/LoadPerformanceIndicator",
            success: function (data) {
                $("#divPerfTargetReview").html(data);
            },
            error: function () {
                Swal.fire("There is some problem to process your request. Please try after some time");
            }
        });
    }
    var LoadTrainingDevelopment = function (DocNo) {
        $.ajax({
            async: true,
            type: "post",
            contentType: "application/json; charset = utf-8",
            data: JSON.stringify({ AppDoc: DocNo }),
            url: "/ANUPEAisal/LoadTrainingDev",
            success: function (data) {
                $("#divTrainDevmpt").html(data);
            },
            error: function () {
                Swal.fire("There is some problem to process your request. Please try after some time");
            }
        });
    }
    var LoadStaffValues = function (DocNo) {
        $.ajax({
            async: true,
            type: "post",
            contentType: "application/json; charset = utf-8",
            data: JSON.stringify({ AppDoc: DocNo }),
            url: "/ANUPEAisal/LoadStaffValues",
            success: function (data) {
                $("#divStaffValues").html(data);
            },
            error: function () {
                Swal.fire("There is some problem to process your request. Please try after some time");
            }
        });
    }
    var LoadCompetenceValues = function (DocNo) {
        $.ajax({
            async: true,
            type: "post",
            contentType: "application/json; charset = utf-8",
            data: JSON.stringify({ AppDoc: DocNo }),
            url: "/ANUPEAisal/LoadCompetenceValues",
            success: function (data) {
                $("#divValuesCompe").html(data);
            },
            error: function () {
                Swal.fire("There is some problem to process your request. Please try after some time");
            }
        });
    }
    var LoadMGRValuesCompe = function (DocNo) {
        $.ajax({
            async: true,
            type: "post",
            contentType: "application/json; charset = utf-8",
            data: JSON.stringify({ AppDoc: DocNo }),
            url: "/ANUPEAisal/LoadMGRCoreCompetenceValues",
            success: function (data) {
                $("#divMgrCoreCompVal").html(data);
            },
            error: function () {
                Swal.fire("There is some problem to process your request. Please try after some time");
            }
        });
    }
    var LoadTrainingConferenceSeminars = function (DocNo) {
        $.ajax({
            async: true,
            type: "post",
            contentType: "application/json; charset = utf-8",
            data: JSON.stringify({ AppDoc: DocNo }),
            url: "/ANUPEAisal/LoadTrainingConferenceSeminars",
            success: function (data) {
                $("#divTrainDevmpt").html(data);
            },
            error: function () {
                Swal.fire("There is some problem to process your request. Please try after some time");
            }
        });
    }
    var LoadTrainingProjectEventsAssignment = function (DocNo) {
        $.ajax({
            async: true,
            type: "post",
            contentType: "application/json; charset = utf-8",
            data: JSON.stringify({ AppDoc: DocNo }),
            url: "/ANUPEAisal/LoadTrainingProjectEventsAssignment",
            success: function (data) {
                $("#divTrainDevmpt").html(data);
            },
            error: function () {
                Swal.fire("There is some problem to process your request. Please try after some time");
            }
        });
    }
    var AppRequisitionLink = function () {
        ShowProgress();
        var DocNo = `@Model.ApprisalCode`;
        window.location = "/ANUPEAisal/ANUPEAisalReviewScoreCard?AppDoc=" + DocNo;
    };
    var EvalKPIItem = function (DocNo, LnNo, Level) {
        $("#labelF").text("KPI Evaluation Form");
        ShowProgress();
        $.ajax({
            async: true,
            type: "POST",
            datatype: "json",
            contentType: "application/json; charset = utf-8",
            processData: false,
            data: JSON.stringify({ DocNo: DocNo, LnNo: LnNo, Level: Level }),
            url: '/ANUPEAisal/SupervosorKPIEvaluationForm',
            success: function (data) {
                $("#modalBody").html(data);
                HideProgress();
                $("#myModal").modal("show");
            },
            error: function (err) {
                HideProgress();
                Swal.fire('Warning', err, 'warning');
            }
        });
    }
    var SaveKPIReviewRecord = function (DocNo, LnNo) {
        var ResultsAchvd = $("#txtResultsAchved").val();
        var SelfAssessment = $("#txtScore").val();
        var remarks = $("#txtAppComments").val();

        if (DocNo == "") {
            Swal.fire('error', 'ANUPEAisal Doc No cannot be empty', 'error');
            return;
        }
        if (LnNo == "") {
            Swal.fire('error', 'ANUPEAisal Record Line Number Cannot be empty', 'error');
            return;
        }
        else if (SupScore == "") {
            Swal.fire('error', 'Choose Supervisor Score', 'error');
            return;
        }
        else {
            var PerformanceIndicator = {};
            PerformanceIndicator.ANUPEAisal_No = DocNo;
            PerformanceIndicator.Line_No = LnNo;
            PerformanceIndicator.Supervisors_Score = SupScore;
            PerformanceIndicator.Agreed_Score = AgreedScore;
            PerformanceIndicator.Supervisor_Comments = remarks;

            ShowProgress();
            $.ajax({
                type: "post",
                url: "/ANUPEAisal/SubmitKPIsEvaluationSup",
                data: JSON.stringify({ kpi: PerformanceIndicator }),
                contentType: "application/json; charset = utf-8",
                success: function (data) {
                    if (data.success == true) {
                        Swal.fire('Success', data.message, 'success');
                        LoadPerformanceIndicatorReview(DocNo);
                        $("#myModal").modal("hide");
                        HideProgress();
                    }
                    else {
                        HideProgress();
                        Swal.fire('error', data.message, 'error');
                    }
                },
                error: function () {
                    HideProgress();
                    Swal.fire('error', data.message, 'error');
                }
            });
        }
    }
    var SupCommentsOnTrDev = function (DocNo, LnNo) {
        $("#labelF").text("Training & Development Comment Form");
        if (DocNo == "") {
            Swal.fire('error', 'ANUPEAisal Document No cannot be empty', 'error');
            return;
        }
        else if (LnNo == "") {
            Swal.fire('error', 'Record Line Number cannot be Empty', 'error');
            return;
        }
        else {
            ShowProgress();
            $.ajax({
                type: "post",
                url: "/ANUPEAisal/SupTrDevForm",
                data: JSON.stringify({ DocNo: DocNo, LnNo: LnNo }),
                contentType: "application/json; charset = utf-8",
                success: function (data) {
                    $("#modalBody").html(data);
                    HideProgress();
                    $("#myModal").modal("show");
                },
                error: function () {
                    HideProgress();
                    Swal.fire('error', data.message, 'error');
                }
            });
        }
    }
    var SaveSupTrainingDevComment = function (DocNo, LnNo) {
        var Comment = $("#txtSupTRDevComm").val();

        if (DocNo == "") {
            Swal.fire('error', 'ANUPEAisal Doc No cannot be empty', 'error');
            return;
        }
        if (LnNo == "") {
            Swal.fire('error', 'ANUPEAisal Record Line Number Cannot be empty', 'error');
            return;
        }
        else if (Comment == "") {
            Swal.fire('error', 'Enter Comment', 'error');
            return;
        }
        else {
            ShowProgress();
            $.ajax({
                type: "post",
                url: "/ANUPEAisal/SaveSupTrDevComments",
                data: JSON.stringify({ DocNo: DocNo, Comment: Comment, LineNo: LnNo }),
                contentType: "application/json; charset = utf-8",
                success: function (data) {
                    if (data.success == true) {
                        Swal.fire('Success', data.message, 'success');
                        LoadTrainingDevelopment(DocNo);

                        $("#myModal").modal("hide");
                        HideProgress();
                    }
                    else {
                        HideProgress();
                        Swal.fire('error', data.message, 'error');
                    }
                },
                error: function () {
                    HideProgress();
                    Swal.fire('error', data.message, 'error');
                }
            });
        }
    }
    var EvalCompValueItem = function (DocNo, LnNo, Level) {
        $("#labelEva").text("Value & Competence Evaluation Form");
        ShowProgress();
        $.ajax({
            async: true,
            type: "POST",
            datatype: "json",
            contentType: "application/json; charset = utf-8",
            processData: false,
            data: JSON.stringify({ DocNo: DocNo, LnNo: LnNo, Level: Level }),
            url: '/ANUPEAisal/SupCompValueEvaluationForm',
            success: function (data) {
                $("#modalBodyRev").html(data);
                HideProgress();
                $("#myModalRev").modal("show");
            },
            error: function (err) {
                HideProgress();
                Swal.fire('Warning', err, 'warning');
            }
        });
    }
    var SaveCompValueReviewRecord = function (DocNo, LnNo, Level) {
        var SupScore = $("#ddlSupScore").children("option:selected").val();
        var AgreedScore = $("#ddlAgreedScore").children("option:selected").val();

        if (DocNo == "") {
            Swal.fire('error', 'ANUPEAisal Doc No cannot be empty', 'error');
            return;
        }
        if (LnNo == "") {
            Swal.fire('error', 'ANUPEAisal Record Line Number Cannot be empty', 'error');
            return;
        }
        else if (SupScore == "") {
            Swal.fire('error', 'Choose Supervisor Score', 'error');
            return;
        }
        else {
            var CompetenceValues = {};
            CompetenceValues.ANUPEAisal_No = DocNo;
            CompetenceValues.Line_No = LnNo;
            CompetenceValues.Sup_Score = SupScore;
            CompetenceValues.Agreed_Score = AgreedScore;

            ShowProgress();
            $.ajax({
                type: "post",
                url: "/ANUPEAisal/SubmitSupervisorCompValueEvaluation",
                data: JSON.stringify({ CValues: CompetenceValues }),
                contentType: "application/json; charset = utf-8",
                success: function (data) {
                    if (data.success == true) {
                        Swal.fire('Success', data.message, 'success');
                        if (Level == "1") {
                            LoadValuesCompe(DocNo);
                        }
                        else {
                            LoadMGRValuesCompe(DocNo);
                        }

                        $("#myModalRev").modal("hide");
                        HideProgress();
                    }
                    else {
                        HideProgress();
                        Swal.fire('error', data.message, 'error');
                    }
                },
                error: function () {
                    HideProgress();
                    Swal.fire('error', data.message, 'error');
                }
            });
        }
    }
    var LoadEmpExtraInf = function (DocNo, Title, EntryType, DivID) {
        $.ajax({
            async: true,
            type: "post",
            contentType: "application/json; charset = utf-8",
            data: JSON.stringify({ AppDoc: DocNo, Level: "S", Title: Title, EntryType: EntryType }),
            url: "/ANUPEAisal/LoadOtherEmployeeANUPEAisalInf",
            success: function (data) {
                $("#" + DivID).html(data);
            },
            error: function () {
                Swal.fire("There is some problem to process your request. Please try after some time");
            }
        });
    }
    var AddEmpExtra = function (Title, Section) {
        $("#labelF").text(Title);
       var DocNo = `@Model.ApprisalCode`;
        ShowProgress();
        $.ajax({
            async: true,
            type: "POST",
            datatype: "json",
            contentType: "application/json; charset = utf-8",
            processData: false,
            data: JSON.stringify({ DocNo: DocNo, Section: Section }),
            url: '/ANUPEAisal/GetExtraEmpInfoForm',
            success: function (data) {
                $("#modalBody").html(data);
                HideProgress();
                $("#myModal").modal("show");
            },
            error: function (err) {
                HideProgress();
                Swal.fire('Warning', err, 'warning');
            }
        });
    }
    var SaveExtraInfRecord = function (DocNo, EntrType) {
        var remarks = $("#txtDescr").val();

        if (DocNo == "") {
            Swal.fire('error', 'ANUPEAisal Doc No cannot be empty', 'error');
            return;
        }
        else if (remarks == "") {
            Swal.fire('error', 'Enter Value', 'error');
            return;
        }
        else {
            ShowProgress();
            $.ajax({
                type: "post",
                url: "/ANUPEAisal/SubmitEmpExtraInf",
                data: JSON.stringify({ DocNo: DocNo, EntryType: EntrType, Descr: remarks }),
                contentType: "application/json; charset = utf-8",
                success: function (data) {
                    if (data.success == true) {
                        Swal.fire('Success', data.message, 'success');
                        if (EntrType == "1") {
                            LoadEmpExtraInf(DocNo, "Strength", '1', "divEmpStrength");
                        }
                        else if (EntrType == "2") {
                            LoadEmpExtraInf(DocNo, "Weakness", '2', "divEmpWeakness");
                        }
                        else if (EntrType == "3") {
                            LoadEmpExtraInf(DocNo, "Area(s) of Performance Improvement", '3', "divEmpAreaOfImprovement");
                        }
                        else if (EntrType == "4") {
                            LoadEmpExtraInf(DocNo, "Expected Standard(s) of Performance", '4', "divEmpExpectedPerformance");
                        }
                        else { }
                        $("#myModal").modal("hide");
                        HideProgress();
                    }
                    else {
                        HideProgress();
                        Swal.fire('error', data.message, 'error');
                    }
                },
                error: function () {
                    HideProgress();
                    Swal.fire('error', data.message, 'error');
                }
            });
        }
    }
    var SendDocTo = function (SendTo) {
        var DocNo = `@Model.ApprisalCode`;
        ShowProgress();
        $.ajax({
            async: true,
            type: "POST",
            datatype: "json",
            data: JSON.stringify({ DocNo: DocNo, SendTo: SendTo }),
            contentType: "application/json; charset = utf-8",
            processData: false,
            url: '/ANUPEAisal/SendDocumentTo',
            success: function (data) {
                if (data.success == true) {
                    window.location = "/ANUPEAisal/MyReviewANUPEAisalList";
                }
                else {
                    HideProgress();
                    Swal.fire('Error', data.message, 'error');
                }
            },
            error: function (err) {
                Swal.fire('Warning', err, 'warning');
            }
        });
    }
    var SaveComments = function (section) {
        var DocNo = `@Model.ApprisalCode`;
        if (DocNo == "") {
            Swal.fire('error', 'ANUPEAisal Doc No cannot be empty', 'error');
            return;
        }
        else {
            var comments = $("#GeneralANUPEAisorComments").val();
            if (comments == "") {
                Swal.fire('error', 'Enter supervisor General Comment', 'error');
                return;
            }
            else {
                SubmitSectionComments(DocNo, "1", comments);
            }
        }
    }
    var SubmitSectionComments = function (DocNo, from, comment) {
        ShowProgress();
        $.ajax({
            type: "post",
            url: "/ANUPEAisal/SaveANUPEAisalComments",
            data: JSON.stringify({ DocNo: DocNo, Comment: comment, from: from }),
            contentType: "application/json; charset = utf-8",
            success: function (data) {
                if (data.success == true) {
                    Swal.fire('Success', data.message, 'success');
                    HideProgress();
                    LoadGeneralComments(DocNo);
                    $("#myModal").modal("hide");
                }
                else {
                    HideProgress();
                    Swal.fire('error', data.message, 'error');
                }
            },
            error: function () {
                HideProgress();
                Swal.fire('error', data.message, 'error');
            }
        });
    }
</script>