@{
    ViewBag.Title = "MyANUPEAisalList";
    Layout = "~/Views/Shared/Sitemaster.cshtml";
}
<style>
    thead {
        background-color: black;
        color: white;
    }

    .selectedTableRow {
        background-color: #74788d;
        color: white;
    }

    .BtnPadding {
        padding: 1px;
        font-size: 12px;
    }
</style>
<!--
<link href="~/assets/css/Loader.css" rel="stylesheet" />
<div class="loading" align="center" id="divLoader">
    <br />
    <img src="~/assets/images/ajax-loader.gif" alt="" />
</div>
-->
<div class="card pre-scrollable">
    <div class="card-title">My ANUPEAisal List</div>
    <div class="card-body">
        <a href="#" onclick="NewANUPEAisalDoc();" class="btn btn-primary BtnPadding">Create ANUPEAisal Document</a>
        <hr/>
        <div id="divANUPEAisalList"></div>
    </div>
</div>
@*//////////////////////Modal////////////////////////////*@
<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content bg-white">
            <div class="modal-header">
                <h4 class="modal-title">
                    <label id="labelF"></label>
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalBody">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger waves-effect " data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script src="~/assets/js/ShowProgression.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        LoadANUPEAisalReqList();
    });
    var LoadANUPEAisalReqList = function () {
        ShowProgress();
        $.ajax({
            async: true,
            type: "GET",
            dataType: 'HTML',
            contentType: false,
            processData: false,
            url: "/ANUPEAisal/ANUPEAisalRequisitionListPartialView",
            success: function (data) {
                HideProgress();
                $("#divANUPEAisalList").html(data);
            },
            error: function () {
                HideProgress();
                Swal.fire("There is some problem to process your request. Please try after some time");
            }
        });
    }
    var NewANUPEAisalDoc = function () {
        $("#labelF").text("New ANUPEAisal Document");
        ShowProgress();
        $.ajax({
            async: true,
            type: "POST",
            datatype: "json",
            contentType: "application/json; charset = utf-8",
            processData: false,
            url: '/ANUPEAisal/NewApprisalRequisition',
            success: function (data) {
                $("#modalBody").html(data);
                HideProgress();
                $("#myModal").modal("show");
            },
            error: function (err) {
                HideProgress();
                Swal.fire('Warning', err, 'warning');
            }
        });
    }
    var SubmitANUPEAisalRequisition = function () {
        var ApprisalPeriod = $("#ddlApprPeriod").children("option:selected").val();
        var SupNo = $("#ddlSup").children("option:selected").val();
        var CSP = $("#ddlCSP").children("option:selected").val();
        var PMMP = $("#ddlPMMP").children("option:selected").val();
        var PerformanceTas = $("#ddlPerformanceTask").children("option:selected").val();
        var PerformanceContract = $("#ddlPerformanceContract").children("option:selected").val();
        var ScoreCard = $("#ddlScoreCard").children("option:selected").val();
        var Comments = $("#txtComments").children("option:selected").val();
        if (ApprisalPeriod == "") {
            Swal.fire('error', 'Select Apprisal Period', 'error');
            return;
        }
        else if (SupNo == "") {
            Swal.fire('error', 'Select Supervisor', 'error');
            return;
        }
        else if (CSP == "") {
            Swal.fire('error', 'Select Corporate Strategic Plan', 'error');
            return;
        }
        else if (ScoreCard == "") {
            Swal.fire('error', 'Select Score Card', 'error');
            return;
        }
        else if (PMMP == "") {
            Swal.fire('error', 'Select PMMP', 'error');
            return;
        }
        else if (PerformanceContract == "") {
            Swal.fire('error', 'Select Performance Contract', 'error');
            return;
        }
        else if (PerformanceContract == "") {
            Swal.fire('error', 'Select Performance Contract', 'error');
            return;
        }
        else {
            var NewANUPEAisalDocument = {};
            NewANUPEAisalDocument.ApprisalPeriod = ApprisalPeriod;
            NewANUPEAisalDocument.No = SupNo;
            NewANUPEAisalDocument.PMMP = PMMP;
            NewANUPEAisalDocument.CSP = CSP;
            NewANUPEAisalDocument.PerformanceTas = PerformanceTas;
            NewANUPEAisalDocument.PerformanceContract = PerformanceContract;
            NewANUPEAisalDocument.ScoreCard = ScoreCard;
            NewANUPEAisalDocument.Comments = Comments;
            ShowProgress();
            $.ajax({
                type: "post",
                url: "/ANUPEAisal/SubmitANUPEAisalDocument",
                data: JSON.stringify({ NewApp: NewANUPEAisalDocument }),
                contentType: "application/json; charset = utf-8",
                success: function (data) {
                    if (data.success == true) {
                        window.location = data.message;
                    }
                    else {
                        HideProgress();
                        $("#myModal").modal("hide");
                        
                        Swal.fire('error', data.message, 'error');
                    }
                },
                error: function () {
                    HideProgress();
                    Swal.fire('error', data.message, 'error');
                }
            });
        }
    }
    var SelectedRow = function () {
        $('table tbody tr').click(function () {
            $(this).addClass("selectedTableRow").siblings().removeClass("selectedTableRow");
            var row = $('#tableScoreCard tr.selectedTableRow');
            //var Status = row.find("td").eq(5).html().trim();
            //AssignSessions();
            $("#ViewDoc").removeClass("disabled");
            //if (Status == "New") {                
            //    $("#SendDocAppr").removeClass("disabled");
            //    $("#CancelDocAppr").addClass("disabled");
            //    $("#AppTrail").addClass("disabled");
            //}
            //else if (Status == "Pending Approval") {
            //    $("#SendDocAppr").addClass("disabled");
            //    $("#CancelDocAppr").removeClass("disabled");
            //    $("#AppTrail").removeClass("disabled");
            //}
            //else if (Status == "Approved") {
            //    $("#SendDocAppr").addClass("disabled");
            //    $("#CancelDocAppr").addClass("disabled");
            //    $("#AppTrail").addClass("disabled");
            //}
            //else {
            //    $("#SendDocAppr").addClass("disabled");
            //    $("#CancelDocAppr").addClass("disabled");
            //    $("#AppTrail").addClass("disabled");
            //}
        });
    }
    var ViewANUPEAisalDoc = function (DocNo) {
        $("#labelF").text("Leave Details Document");
        ShowProgress();
        window.location = "/ANUPEAisal/ANUPEAisalScoreCard?AppDoc=" + DocNo;
    }
    var SendLeaveDocForApproval = function () {
        $("#labelF").text("Leave Details Document");
        var row = $('#datatable-buttons tr.selectedTableRow');
        var DocNo = row.find("td").eq(1).html().trim();
        ShowProgress();
        $.ajax({
            async: true,
            type: "POST",
            datatype: "json",
            data: JSON.stringify({ DocNo: DocNo }),
            contentType: "application/json; charset = utf-8",
            processData: false,
            url: '/Leave/SendLeaveAppForApproval',
            success: function (data) {
                LoadLeaveReqList();
                if (data.success == true) {
                    Swal.fire('Success', data.message, 'success');
                }
                else {
                    Swal.fire('Error', data.message, 'error');
                }
            },
            error: function (err) {
                Swal.fire('Warning', err, 'warning');
            }
        });
        DiableButtons();
        HideProgress();
    }
    var CancelLeaveDocForApproval = function () {
        $("#labelF").text("Leave Details Document");
        var row = $('#datatable-buttons tr.selectedTableRow');
        var DocNo = row.find("td").eq(1).html().trim();
        ShowProgress();
        $.ajax({
            async: true,
            type: "POST",
            datatype: "json",
            data: JSON.stringify({ DocNo: DocNo }),
            contentType: "application/json; charset = utf-8",
            processData: false,
            url: '/Leave/CancelLeaveAppForApproval',
            success: function (data) {
                LoadLeaveReqList();
                if (data.success == true) {
                    DiableButtons();
                    HideProgress();
                    Swal.fire('Success', data.message, 'success');
                }
                else {
                    DiableButtons();
                    HideProgress();
                    Swal.fire('Error', data.message, 'error');
                }
            },
            error: function (err) {
                HideProgress();
                Swal.fire('Warning', err, 'warning');
            }
        });

    }
    var ViewLeaveApprovalTrail = function () {
        $("#labelF").text("Document Approval Status");
        ShowProgress();
        var row = $('#datatable-buttons tr.selectedTableRow');
        var DocNo = row.find("td").eq(1).html().trim();
        $.ajax({
            async: true,
            type: "POST",
            datatype: "json",
            data: JSON.stringify({ DocNo: DocNo }),
            contentType: "application/json; charset = utf-8",
            processData: false,
            url: '/Leave/LeaveDocumentApprovalTrail',
            success: function (data) {
                $("#modalBody").html(data);
                HideProgress();
                $("#myModal").modal("show");
            },
            error: function (err) {
                HideProgress();
                Swal.fire('Warning', err, 'warning');
            }
        });
    }
    var DiableButtons = function () {
        $("#ViewDoc").addClass("disabled");
        $("#SendDocAppr").addClass("disabled");
        $("#CancelDocAppr").addClass("disabled");
        $("#AppTrail").addClass("disabled");
        $('table tbody tr').siblings().removeClass("selectedTableRow");
    }
</script>