@model Latest_Staff_Portal.ViewModel.TrainingEvaluationLine

<style>
    .select2-container.custom-select .select2-selection {
        background-color: white !important;
        border: 1px solid #ccc;
    }

    .select2-container.custom-select .select2-selection--single {
        background-color: white !important;
    }
</style>


<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            @Html.Label("Evaluation Category", htmlAttributes: new { @class = "control-label col-md-12" })
            @Html.DropDownListFor(m => m.Category_Description, Model.ListOfCategories, "--Select Category--", new { @id = "categoryId", @class = "form-control select2 custom-select" })
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            @Html.Label("Comments", htmlAttributes: new { @class = "control-label col-md-12" })
            @Html.TextAreaFor(m => m.Comments, new
            {
                @class = "form-control",
                id = "Comments",
                @placeholder = "Input your comments",
                rows = "4" // optional, to set the height
            })
        </div>
    </div>
</div>
<div align="center">
    <input type="button" class="btn btn-primary action-buttons" value="Submit Training Line" onclick="SubmitTrainingAssessmentLine();" />
</div>
