@using Latest_Staff_Portal.Models
@model Latest_Staff_Portal.ViewModel.EmployeeView
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/Sitemaster.cshtml";
    var imgSrc = "";
    var CustBal = "";
    if (Session["Username"] == null)
    {
        Html.Action("Login", "Login");
    }
    else
    {

        if (Session["ImgProfile"] == null)
        {

        }
        else
        {
            imgSrc = Session["ImgProfile"].ToString();
        }
    }
}
<style>
    .mb-1, .card-header {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    .BtnPadding {
        padding: 1px;
        font-size: 12px;
    }

    .content-label {
        display: inline-block;
        margin-left: 5px;
        min-width: 100px;
    }

        .content-label label {
            font-size: 12px;
            font-weight: bold
        }

    .content-data {
        display: inline-block;
    }

        .content-data span {
            font-size: 12px;
        }
</style>
<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="page-header">
    <div class="row">
        <div class="col-sm-12">
            <h3 class="page-title mb-3">
                <b>Change Password</b>
            </h3>
            <hr />

        </div>
    </div>
</div>

